<ul class="dashboard-menu-list-{{ dashboardPreferences?.menuAlignment }}">
  <!-- dashboard menu search and add button -->
  <li class="dashboard-menu-list-header">
    <button class="add-dashboard-btn" (click)="onAddDashboard($event)" *ngIf="userIsAdmin">
      <i class="fa fa-plus"></i>
    </button>
    <div class="dashboard-menu-search">
      <mat-form-field class="w-100">
        <mat-label>Search Dashboard</mat-label>
        <input matInput type="text" (keyup)="onSearchDashboard($event)" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

    </div>
  </li>
  <!-- end of dashboard menu search and add button -->

  <!-- dashboard menu items -->
  <li *ngFor="let dashboard of dashboards | filterByName: searchTerm">
    <app-dashboard-menu-item [dashboard]="dashboard" [menuAlignment]="dashboardPreferences?.menuAlignment"
      [currentDashboardId]="currentDashboardId" (setDashboard)="onSetCurrentDashboard($event)">
    </app-dashboard-menu-item>
  </li>
  <!-- end of dashboard menu items -->
</ul>
